In [2]:
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
import os

In [7]:
path = r"c://users/Root__init__/ML_VENV/datasets/Titanic/"
files = [os.path.join(path, file) for file in os.listdir(path)]

In [8]:
files

['c://users/Root__init__/ML_VENV/datasets/Titanic/gender_submission.csv',
 'c://users/Root__init__/ML_VENV/datasets/Titanic/test.csv',
 'c://users/Root__init__/ML_VENV/datasets/Titanic/train.csv']

In [10]:
train_data = pd.read_csv(files[2])

In [11]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [21]:
x = train_data.iloc[:, [2, 4, 5, 6, 7]]

In [22]:
x.head()

   Pclass     Sex   Age  SibSp  Parch
0       3    male  22.0      1      0
1       1  female  38.0      1      0
2       3  female  26.0      0      0
3       1  female  35.0      1      0
4       3    male  35.0      0      0

In [24]:
x_dummies = pd.get_dummies(x, columns=["Pclass", "Sex"])

In [25]:
x_dummies.head()

    Age  SibSp  Parch  Pclass_1  Pclass_2  Pclass_3  Sex_female  Sex_male
0  22.0      1      0         0         0         1           0         1
1  38.0      1      0         1         0         0           1         0
2  26.0      0      0         0         0         1           1         0
3  35.0      1      0         1         0         0           1         0
4  35.0      0      0         0         0         1           0         1

In [26]:
y = train_data["Survived"]

In [29]:
x_dummies.isnull().sum()

Age           177
SibSp           0
Parch           0
Pclass_1        0
Pclass_2        0
Pclass_3        0
Sex_female      0
Sex_male        0
dtype: int64

In [32]:
x_dummies.fillna(x_dummies["Age"].mean(), inplace=True)

In [60]:
model = RandomForestClassifier(n_estimators=1000, max_depth=5)
model.fit(x_dummies, y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=5, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [43]:
test_data = pd.read_csv(files[1])

In [44]:
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [62]:
x_test = test_data.iloc[:, [1, 3, 4, 5, 6]]
x_test_dummies = pd.get_dummies(x_test, columns=["Pclass", "Sex"])
x_test_dummies.fillna(x_dummies["Age"].mean(), inplace=True)

In [63]:
prediction = model.predict(x_test_dummies)

In [64]:
output = pd.DataFrame({"PassengerId": test_data["PassengerId"], "Survived": prediction})

In [66]:
output.to_csv(os.path.join(path, "submission_2.csv"), index=False)

In [67]:
sum(model.predict(x_dummies) == y) / len(y)

0.8361391694725028